parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$input of class pocketmine\\crafting\\json\\ShapelessRecipeData constructor expects list\<pocketmine\\crafting\\json\\RecipeIngredientData\>, array\<pocketmine\\crafting\\json\\RecipeIngredientData\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../tools/generate-bedrock-data-from-packets.php

		-
			message: '#^Parameter \#2 \$output of class pocketmine\\crafting\\json\\ShapelessRecipeData constructor expects list\<pocketmine\\crafting\\json\\ItemStackData\>, array\<pocketmine\\crafting\\json\\ItemStackData\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../tools/generate-bedrock-data-from-packets.php

		-
			message: '#^Parameter \#3 \$output of class pocketmine\\crafting\\json\\ShapedRecipeData constructor expects list\<pocketmine\\crafting\\json\\ItemStackData\>, array\<pocketmine\\crafting\\json\\ItemStackData\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../tools/generate-bedrock-data-from-packets.php

		-
			message: '#^Parameter \#5 \$unlockingIngredients of class pocketmine\\crafting\\json\\ShapelessRecipeData constructor expects list\<pocketmine\\crafting\\json\\RecipeIngredientData\>, array\<pocketmine\\crafting\\json\\RecipeIngredientData\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../tools/generate-bedrock-data-from-packets.php

		-
			message: '#^Parameter \#6 \$unlockingIngredients of class pocketmine\\crafting\\json\\ShapedRecipeData constructor expects list\<pocketmine\\crafting\\json\\RecipeIngredientData\>, array\<pocketmine\\crafting\\json\\RecipeIngredientData\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../tools/generate-bedrock-data-from-packets.php
